
/* navigation starts here */

.navbar>ul li{
    font-size: 14px;
    margin-left: 0px;
}
    


#up>h1 , #up>p{
    padding: 0px 74px;
}




/* /* middle section header */
#box{
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box .main{
    width: 45%;
    margin: 12px;
}

#id2{
    flex-direction: column;
    align-items: center;
    
}
#id2 .section-title {
    margin: 0 auto;
    padding: 0px;
}

#id3{
    flex-direction: column;
    align-items: center;
}
#id3 .section-title {
    margin: 0 auto;
    padding: 0px;
}





/* price section header */
#price-flex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pricebox{
    width: 45%;
    margin: 12px;
}
#downheading{
    padding: 10px 10px;
}
#downheading>h1, #downheading>p{
    padding: 0px 74px;
}
#down::before{
    
    height: 1530px;
}




/* clients header */
#clients{
    flex-wrap: wrap;
}
#clients div{
    margin: 0 60px;
    margin-top: 50px;
    margin-bottom: 0;
}
#clients::before{
    height: 280px;
}




/* footer starts here */ 




@media screen and (max-width:800px) {
    .navbar ul{
        display: none;
    }
    
}
.navbar #toggle-menu{
    display: block;
}